swagger: '2.0'
info:
  description: MonkeyRadio API Documentation
  version: 2.0.0
  title: MonkeyRadio API
  contact:
    email: contact@monkeyradio.fr
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
schemes:
  - http
  - https
host: api.monkeyradio.fr
basePath: /api
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
    description: >-
      Enter the token with the `Bearer: ` prefix, e.g. "Bearer abcde12345".
paths:
  /radio:
    get:
      summary: Get all the radios
      description: Get all the radios
      tags:
        - radio
      produces:
        - application/json
      responses:
        '200':
          description: Radio List
          schema:
            $ref: '#/definitions/radioListResponse'
        '400':
          description: Invalid status value
          schema:
            $ref: '#/definitions/InvalidResponse'
        '500':
          $ref: '#/definitions/InternalError'
    post:
      summary: Create a new radio
      description: Create a new radio
      security:
        - Bearer: []
      produces:
        - application/json
      tags:
        - radio
      parameters:
        - in: body
          name: body
          description: radio object
          required: true
          schema:
            $ref: '#/definitions/radio'
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid request body
        '500':
          $ref: '#/definitions/InternalError'
    delete:
      summary: Delete a radio
      description: Delete a radio
      security:
        - Bearer: []
      tags:
        - radio
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: radio slug
          required: true
          schema:
            slug:
              type: string
              description: radio slug
              required: true
  /radio{slug}:
    get:
      summary: Get the radio represented by slug
      description: Get the radio represented by slug
      tags:
        - radio
      parameters:
        - name: slug
          in: path
          description: radio slug
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: Radio data
          schema:
            $ref: '#/definitions/radio'
        '400':
          description: This radio does not exist or this slug is not valid
          schema:
            $ref: '#/definitions/InvalidResponse'
definitions:
  radio:
    type: object
    properties:
      slug:
        type: string
        description: radio slug
        required: true
      name:
        type: string
        description: radio name
      icon:
        type: string
        description: radio icon
  radioResponse:
    type: object
    properties:
      radio:
        $ref: '#/definitions/radio'
  radioListResponse:
    type: object
    properties:
      radios:
        type: array
        items:
          $ref: '#/definitions/radio'
  InvalidResponse:
    type: object
    properties:
      message:
        type: string
  InternalError:
    description: Internal Server Error