/**========================================================================
 * ?                                ABOUT
 * @author         :  @nicojqn
 * @email          :  contact@nicojqn.fr
 * @repo           :  Monkey Radio ORG - 2022 - Global API
 * @createdOn      :  2022-12-19
 * @description    :  Monkey Global API - Config
 *========================================================================**/

const config = {
    port : 8081,
    host : "0.0.0.0",
    db : {
        type: "mysql",
        host: "localhost",
        database: "MonkeyGlobalAPI",
        user: "user",
        pass: "pass"
    },
    api : {
        version: "v2",
        prefix: "/api",
        name: "Monkey Radio API",
        description: "Monkey Radio API"
    },
    jwt : {
        secret: "secret",
        expiresIn: "1w"
    }
};

const callbacks = {
    onListen: () => {
        console.log(`Listening on ${config.host}:${config.port}`);
    },
    onDBConnect: () => {
        console.log(`Connected to database ${config.db.database}`);
    },
    onDBError: (error) => {
        console.log(`Error connecting to database ${config.db.database}`);
        console.log(error);
    }
};

export default config;
export { config, callbacks };