// ----------------------------------------------
// Monkey Radio ORG - 2022
// Dev by: @nicojqn
// Description: db config example file
// ----------------------------------------------

const db = {
    type: "mysql",
    host: "localhost",
    port: 27017,
    name: "monkeyradio",
    user: "monkeyradio",
    pass: "monkeyradio"
};

export default db;
